{% extends 'blog/base.html' %}
{% block header %}
{% load static %}
<header class="masthead" style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    {% comment %}<h2 class="subheading">Problems look mighty small from 150 miles up</h2>{% endcomment %}
                    <span class="meta">
                        Posted by
                        <a href="#">{{ post.author }}</a>
                        on {{ post.publish_date }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}
{% block content %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ post.text|linebreaksbr }}
                {% if post.image %}
                <img src="{{ post.image.url }}" class="img-fluid mt-4">
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="row gx-4 gx-lg-5 justify-content-end">
            <a class="d-flex justify-content-end btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="h3"><i class="fa-solid fa-pen-to-square"></i></span></a>
        </div>
        {% endif %}
    </div>
</article>
{% endblock content %}